@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --blue: #2E8BC0;
    --blue-hover: #2a7dad;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    height: 100vh;
    margin: 0;
    background-color: #171f29;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    border-radius: 12px;
    padding: 0 5em;
}

main hr {
    margin: 30px 0;
    border: 1px solid #2F3E53;
}

main p {
    margin: 15px 0;
}

h1 {
    font-family: "Karla";
    margin: 0;
    font-weight: 800;
    font-size: 40px;
}

.green {
    color: var(--blue);
}

#btn-generate {
    background-color: var(--blue);
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    margin-top: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

#btn-generate:hover {
    background-color: var(--blue-hover);
}

#container-passwords {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn-copy-pw {
    background-color: #273549;
    border: none;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.2s;
}

.btn-copy-pw:hover {
    color: var(--blue-hover);
}

.box-password {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #273549;
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    color: var(--blue);
    font-size: 14px;
}

.box-password span {
    width: 100%;
    text-align: center;
}

#copy-text-pw1, #copy-text-pw2 {
    color: var(--blue);
    font-size: 14px;
    padding-left: 25px;
}

#container-head, #container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-align: center;
}

#container-footer a {
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-decoration: none;
}

#container-footer a:hover {
    color: #fff;
    transition: all 0.2s ease-out;
}